@model IEnumerable<Resarvation.Models.ReservApprenantViewModel>

@{
    ViewData["Title"] = "History";
}
<p>@ViewBag.hsb</p>
<h1>History</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typeReservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <p class="btn btn-success pl-3 pr-3">Approved</p>
                    }
                    else if (item.Status == false)
                    {


                        <p class="btn btn-danger pl-4 pr-3">Rejected</p>
                    }
                    else
                    {
                        <p class="btn btn-warning pl-4 pr-4">Waiting</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
