
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;



@model IEnumerable<Resarvation.Models.ReservApprenantViewModel>

@{
    ViewData["Title"] = "Index";

}
<h1>Index</h1>

<h1>@Model.Count()</h1>

<div class="d-flex justify-content-between">
    <form asp-action="Filter" asp-controller="Reservation">

        <label for="filtr">Date</label>
        <input type="date" name="filtr" id="filter" />
        <button type="submit" class="btn p-1">&#128270;</button>

    </form>


    @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })*@
</div>
<p class="d-flex justify-content-around">
    <a class="btn btn-success" asp-action="Create">Create New</a>
    <a class="btn btn-dark" asp-action="Index">ToDay</a>
    <a class="btn btn-info" asp-action="GetAll">All</a>
</p>
<table class="table table-dark table-striped text-center">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>ResCount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <p class="btn btn-success pl-3 pr-3">Approved</p>
                    }
                    else if (item.Status == false)
                    {


                        <p class="btn btn-danger pl-4 pr-3">Rejected</p>
                    }
                    else
                    {
                        <p class="btn btn-warning pl-4 pr-4">Waiting</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                @*<td>
                        <form style="display:inline;" method="post" asp-action="postdata">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="Status" value="true" />
                            <button type="submit" class="btn btn-xs btn-primary">Approved</button>
                        </form>
                        <form style="display:inline;" method="post" asp-action="postdata">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="Status" value="false" />
                            <button type="submit" class="btn btn-xs btn-danger">rejected</button>
                        </form>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
@*@section Scripts{
        <script>
            // Workaround to fix style of text for showing items .. through ..
            // Problem related to Boostrap 4 according to issue in link below
            // https://github.com/dncuug/X.PagedList/issues/127
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
    }*@