@model IEnumerable<Resarvation.Models.ReservApprenantViewModel>

@{
    ViewData["Title"] = "Index";

}
<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <p>Approved</p>
                    }
                    else if (item.Status == false)
                    {


                        <p>Rejected</p>
                    }
                    else
                    {
                        <p>Waiting</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    <form style="display:inline;" method="post" asp-action="postdata">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="Status" value="true" />
                        <button type="submit" class="btn btn-xs btn-primary">Approved</button>
                    </form>
                    <form style="display:inline;" method="post" asp-action="postdata">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="Status" value="false" />
                        <button type="submit" class="btn btn-xs btn-danger">rejected</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
